<library path="src">
  <class name="robocup_event_viewer_Plugin" type="robocup_viewer.robocup_event_viewer_Plugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      robocup_msgs/Event message Viewer
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>My first Python Plugin</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
